.block_ {
  display: block;
  font-family: serif;
  font-size: 1em;
  font-weight: normal;
  page-break-after: avoid;
  text-align: left;
  text-indent: 14.2pt;
  margin: 0;
  padding: 0;
}
.block_1 {
  display: block;
  font-family: serif;
  font-size: 0.83333em;
  text-align: left;
  text-indent: 14.2pt;
  margin: 0;
  padding: 0;
}
.block_2 {
  display: block;
  text-align: left;
  text-indent: 14.2pt;
  margin: 0;
  padding: 0;
}
.calibre {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
}
.calibre2 {
  height: 1.35e +3pt;
  width: 956pt;
}
